@charset "UTF-8";

:root{
    --cor1: #265C4B;
    --cor2: #473430;
    --cor3: #3D3D3D;
    --cor4: #8FC1B5;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    :root{
        --cor1: #265C4B;
        --cor2: #473430;
        --cor3: #3D3D3D;
        --cor4: #8FC1B5;
    }

    body {
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    }

    div#tela {
        height: 250px;
        width: 600px;
    }
    
    div#img{
        height: 251px;
        border-radius: 11px 0px 0px 11px;
    }

    div#menu{
        position: relative;
        bottom: 250px;
        left: 200px;
        width: 380px;
    }

    div#email input{
        top: 16.3px;
    }
}

@media screen and (min-width: 992px) {

}